.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.muni {
    display: flex;
    flex-direction: column;
}

.muni .muni-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.muni .muni-search input {
    width: auto;
    margin-right: 20px;
}